@import url('../../CssPresets/CssPreset.css');

.complaint-detail-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    /*  */
    grid-template-rows: 50px;
    /* grid-auto-flow: column; */
}

.complaint-detail-table-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(255, 255, 255);
}

.complaint-detail-header {
    color: white;
}

.main-complaint-detail-cont {
    height: 100%;
    color: white;
    background-color: var(--first);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.complaint-detail-header {
    font-size: 40px;
}

.complaint-detail-hint {
    font-size: 20px;
}
